@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.locations {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    /* box-shadow: 3px 3px 10px rgba(128, 128, 128, 0.7); */
    animation: appear 250ms ease-in-out;
    animation-timeline: scroll();
}

@keyframes appear {
    from {
        transform: scale(0.95);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.locations h1 {
    font-family: "Nota Sans", sans-serif;
    color: var(--clr-primary-800);
    margin: 0 20px;
    text-align: center;
}

.locationCards {
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr)); */
    /* grid-template-rows: 400px; */
    display: flex;
    gap: 10px;
    margin: 15px;
    margin-top: 25px;
}