@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.locations {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
    animation: appear 250ms ease-in-out;
    animation-timeline: scroll();
}

@keyframes appear {
    from {
        transform: scale(0.95);
        opacity: 0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.locations h1 {
    font-family: "Nota Sans", sans-serif;
    color: var(--clr-primary-800);
    margin: 0 10px;
    text-align: center;
    font-size: clamp(24px, 5vw, 30px);
    border-radius: 50px;
}

.locationCards {
    display: flex;
    gap: 10px;
    margin: 15px;
    margin-top: 25px;
}

@media (max-width: 630px) {
    .locations {
        padding: 10px 10px;
    }

    .locationCards {
        margin: 15px auto;
        padding: 10px 0;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        place-items: center;
    }
}