@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

.heroSection {
    --background-hero-section: var(--theme-color-secondary);
    --text-main-quote: hsl(195, 50%, 50%);
    --text-extra-bold: hsl(195, 40%, 50%);
    --font-family: Arial, Helvetica, sans-serif;
}

.heroSection {
    display: grid;
    grid-template-columns: 2fr 430px 40px;
    background-color: var(--background-hero-section);
    font-family: var(--font-family);
}

/* Title Section */
.titleSection {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 10px 100px;
}

.quotes {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main_quote {
    font-size: clamp(30px, 7vw, 50px);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 5px hsla(0, 0%, 80%, 0.4);
    color: var(--text-main-quote);
    margin-block: 5px;
}

.caption {
    font-size: clamp(12px, 4vw, 22px);
    margin-left: 5px;
    font-weight: normal;
    color: hsl(0, 0%, 30%);
}

.highlightBox {
    background-color: white;
    width: max-content;
    padding: 25px;
    padding-right: 60px;
    margin: 20px;
    box-shadow: 2px 2px 15px hsla(0, 0%, 80%, 0.7);
    border-radius: 3px;
    position: relative;
}

.featureHeading {
    font-size: 18px;
    margin-bottom: 20px;
}

.featureTable {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.featureTable li {
    text-decoration: none;
    font-size: clamp(16px, 3vw, 18px);
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 20%);
}

.featureTable li img {
    width: 25px;
    border-radius: 50%;
    background-color: hsl(from skyblue h s l / 0.4);
    padding: 3px;
    margin-right: 10px;
}

.btns {
    display: flex;
    padding: 15px;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.findDoctorsBtn, .getAppointmentBtn {
    height: 45px;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.findDoctorsBtn {
    border: none;
    color: white;
    background-color: var(--clr-primary-900);
    transition: transform 300ms ease-in-out, 
                box-shadow 300ms ease-in-out;
}

.findDoctorsBtn img {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.findDoctorsBtn:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 4px hsla(0, 0%, 50%, 0.5);
}

.getAppointmentBtn {
    background-color: white;
    color: black;
    border: 2px solid var(--clr-primary-700);
    transition: transform 300ms ease-in-out, 
                box-shadow 300ms ease-in-out;
}

.getAppointmentBtn:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 4px hsla(0, 0%, 50%, 0.2);
}

.certifiedTag {
    color: hsl(0, 0%, 50%);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 15px;
    text-align: end;
    font-size: 15px;
    font-family: "Inter";
}

/* Image Section */
.imageSection {
    /* width: 430px; */
    height: 600px;
    padding: 60px;
    margin: 30px;
    position: relative;
    margin-right: 70px;
    overflow: visible;
}

.imgContainer {
    background-image: url('../../../../assets/doctor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 350px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
    transform: scale(1);
    transition: transform 0.4s ease-out;

    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.imgContainer:hover {
    /* box-shadow: 0 0 5px black; */
    transform: rotateZ(2deg) scale(1.02);
}

.backgroundBoxes {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.backgroundBoxes .floatingBox:nth-child(1) {
    animation: change_top2Bottom 10s ease-in-out infinite;
}
.backgroundBoxes .floatingBox:nth-child(2) {
    animation: change_bottom2Top 10s ease-in-out infinite;
}

.floatingBox {
    position: absolute;
    background-color: hsl(0, 0%, 90%);
    width: 125px;
    height: 175px;
    border-radius: 20px;
}

@keyframes change_top2Bottom {
    0%, 40%, 100% {
        translate: calc(100% + 125px) 0;
    }
    45% {
        translate: calc(100% + 125px) calc(200% + 62.5px);
    }
    50%, 90% {
        translate: calc(0% - 62.5px) calc(200% + 62.5px);
    }
    95% {
        translate: calc(0% - 62.5px) 0;
    }
}
@keyframes change_bottom2Top {
    0%, 40%, 100% {
        translate: calc(0% - 62.5px) calc(200% + 62.5px);
    }
    45% {
        translate: calc(0% - 62.5px) 0;
    }
    50%, 90% {
        translate: calc(100% + 125px) 0;
    }
    95% {
        translate: calc(100% + 125px) calc(200% + 62.5px);
    }
}

@media screen and (max-width: 1150px) {
    .heroSection {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 75px 10px;
        overflow: hidden;
    }

    .titleSection {
        padding: 10px;
        width: 100vw;
    }

    .main_quote {
        width: 40ch;
    }

    .caption {
        margin: 0;
        width: minmax(30ch, 40ch);
    }

    .quotes {
        gap: 0;
    }
    
    .highlightBox {
        max-width: calc(90vw - 20px);
        margin: 10px;
        /* margin-inline: auto; */
        padding: 25px;
    }

    .btns {
        padding: 15px 0;
    }
    
    .imageSection {
        display: none;
    }
    
}

@media screen and (max-width: 450px) {
    .btns {
        flex-direction: column;
    }
}