.container {
    --container-color-main: hsl(197, 90%, 99%);
    --image-bg-color: hsl(197, 80%, 95%);

    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 250px;
    background-color: hsl(197, 90%, 99%);
    background-image: linear-gradient(
                    180deg, 
                    var(--container-color-main, (197, 90%, 95%)), 
                    hsl(0, 0%, 100%), 
                    var(--container-color-main, (197, 90%, 95%)));
    border: 0.75px solid hsla(0, 0%, 60%, 0.2);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    scale: 0.98;
    opacity: 0.1;
    animation: left2Right ease-in-out forwards;
    animation-timeline: view();
    animation-range-start: 10vh;
    animation-range-end: 40vh;
    transform-origin: center;
}

.info {
    padding: 20px 40px;
}

.img {
    background-color: var(--image-bg-color, hsl(197, 80%, 95%));
    border-radius: 10px;
}

.title {
    font-size: clamp(16px, 4vw, 25px);
}

.description {
    color: hsl(0, 0%, 35%);
    font-size: clamp(14px, 3vw, 18px);
    margin: 10px 0;
}

@keyframes left2Right {
    to { opacity: 1; scale: 1; }
}

@media (max-width: 630px) {
    .container {
        background: none;
        height: auto;
        animation-range-start: 10vh;
        animation-range-end: 30vh;
    }

    .info {
        padding-block: 10px;
        padding-left: 20px;
        padding-right: 0;
    }

    .img {
        width: 35%;
        aspect-ratio: 1;
        object-fit: contain;
        padding: 10px !important;
    }
}