.header {
    /* position: sticky; */
    /* top: 0; */
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 25%);
    margin: 0;
    font-size: 1rem;
    background-color: var(--theme-color-secondary, hsl(0, 0%, 97%));
}

.website_name {
    background-color: var(--theme-color-main, --blue-900);
    width: 60%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    color: white;
    border-radius: 0 100px 100px 0;
    font-size: clamp(1rem, 3vw, 2.25rem);
    font-family: var(--title-font-family);
}

.navbar {
    margin: 0 30px;
    padding: 20px;
}

.navbar_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.navbar_list li {
    min-width: 50px;
    padding: 2px;
    text-align: center;
    position: relative;
}

.navbar_list li a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_list li .hoverBar {
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50% 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--theme-color-main);
    scale: 0 1;
    transition: scale 300ms ease-in-out;
}

.navbar_list li:hover .hoverBar {
    scale: 1 1;
}