.btn {
    /* --width: 180px;
    --hover-width: 195px;
    --color-background: var(--blue-900);
    --transition-duration: 300ms;
    --justify-content: start; */

    --padding: 20px;

    width: var(--width, 100%);
    height: 50px;
    margin: 20px 15px;
    padding: var(--padding);

    cursor: pointer;
    border: 2px solid hsla(0, 0%, 80%, 0.5);
    border-radius: 50px;
    /* box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25); */
    
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.75px;

    display: flex;
    justify-content: var(--justify-content, start);
    align-items: center;

    position: relative;
    background: radial-gradient(circle, var(--color-background, --blue-900), var(--color-background, --blue-900) 100%);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0% 100%;
    
    transition: background-size var(--transition-duration, 300ms) ease-in-out, 
                width var(--transition-duration, 300ms) ease-in-out, 
                transform var(--transition-duration, 300ms) ease-in-out, 
                border var(--transition-duration, 100ms) ease-in-out,
                color calc(var(--transition-duration, 300ms) / 2) ease-in-out;
}

.btn:hover {
    /* border: 3px solid var(--color-background, --blue-900); */
    border: none;
    background-size: 100% 100%;
    width: var(--hover-width, 100%);
    transform: scale(1.01);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    color: white;
}

.svg {
    width: 25px;
    margin: 0;
    animation: leftToRight 250ms ease-in-out;
    /* filter: invert(1); */
    opacity: 0;
    transition: opacity var(--transition-duration) ease-in-out, translate var(--transition-duration) ease-out;
    display: none;
    position: absolute;
    right: 10px;
}

.btn:hover .svg {
    display: inline-block;
    translate: 0 0;
    opacity: 1;
    filter: invert(1);
}

@keyframes leftToRight {
    from {
        translate: -15px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}