.btn {
    /* --color-background: var(--blue-900);
    --transition-duration: 300ms; */
    --padding: 20px;

    width: 180px;
    height: 50px;
    margin: 20px 15px;
    padding: var(--padding);

    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
    
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.75px;

    display: flex;
    /* justify-content: center; */
    align-items: center;

    position: relative;
    background: radial-gradient(circle, var(--color-background), var(--color-background) 100%);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 0% 100%;
    
    transition: background-size var(--transition-duration) ease-in-out, 
                width var(--transition-duration) ease-in-out, 
                transform var(--transition-duration) ease-in-out, 
                box-shadow var(--transition-duration) ease-in-out,
                color calc(var(--transition-duration) / 2) ease-in-out;
}

.btn:hover {
    background-size: 100% 100%;
    width: 195px;
    transform: scale(1.01);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    color: white;
}

.svg {
    width: 25px;
    margin: 0;
    animation: leftToRight 250ms ease-in-out;
    /* filter: invert(1); */
    opacity: 0;
    transition: opacity var(--transition-duration) ease-in-out, translate var(--transition-duration) ease-out;
    display: none;
    position: absolute;
    right: 10px;
}

.btn:hover .svg {
    display: inline-block;
    translate: 0 0;
    opacity: 1;
    filter: invert(1);
}

@keyframes leftToRight {
    from {
        translate: -15px 0;
        opacity: 0;
    }
    to {
        translate: 0 0;
        opacity: 1;
    }
}