.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 250px;
    background-color: hsl(197, 90%, 99%);
    border: 1px solid rgba(128, 128, 128, 0.1);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* translate: -30% 0; */
    scale: 0.98;
    opacity: 0;
    animation: left2Right ease-in-out forwards;
    animation-timeline: view();
    animation-range-start: 10vh;
    animation-range-end: 50vh;
}

.info {
    padding: 20px 40px;
}

.img {
    /* margin: 7px; */
    background-color: hsl(197, 80%, 95%);
    border-radius: 10px;
}

.title {
    font-size: 25px;
}

.description {
    color: hsl(0, 0%, 35%);
    font-size: 18px;
    margin: 10px 0;
}

@keyframes left2Right {
    to { opacity: 1; scale: 1; }
}