.btn {
    /* --width: 180px;
    --color-text: white;
    --color-background: var(--blue-900);
    --transition-duration: 300ms;
    --justify-content: start; */

    --padding: 20px;

    width: var(--width, 100%);
    height: 50px;
    padding: var(--padding, 0px);

    cursor: pointer;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.75px;

    display: flex;
    justify-content: var(--justify-content, start);
    align-items: center;
    
    color: var(--color-text, white);
    opacity: 1;
    background-color: var(--color-background, --blue-900);
    
    transition: transform var(--transition-duration, 300ms) ease-in-out, 
                opacity calc(var(--transition-duration, 300ms) / 2) ease-in-out, 
                box-shadow var(--transition-duration, 300ms) ease-in-out;

}

.btn:hover {
    opacity: 0.95;
    transform: scale(1.01);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}