.card {
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    min-width: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1000ms ease-in-out;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.card img {
    height: 100%;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
}

.card:hover {
    width: 900px;
}

.backdrop {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65) 100%-10px, rgba(0, 0, 0, 0.75) 100%);
}

.locationTag {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    margin: 15px 20px;
    color: hsl(0, 0%, 90%);
    font-size: 17px;
    font-weight: 600;
}

.locationTag img {
    width: 17px;
    filter: invert(1);
    margin-right: 5px;
}