.card {
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    overflow: hidden;
    height: 500px;
    min-width: 100px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1000ms ease-in-out;
}

.card img {
    height: 100%;
    border-radius: 10px;
    transition: all 100ms ease-in-out;
}

.card:hover {
    width: 100%;
}