.main_section, .main_section[open] {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 50px;
}

.main_section:focus, .main_section[open]:focus {
    outline: none;
}

.main_section[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.main_section h1 {
    text-align: center;
    color: var(--clr-primary-900);
    margin-top: 10px;
    margin-bottom: 40px;
}

.inputContainer {
    display: block;
    background-color: #F1FAFF;;
    padding: 25px;
    border-radius: 3px;
}

.inputContainer input[type="text"] {
    display: block;
    width: 100%;
    font-size: 18px;
    margin: 5px 0;
    margin-top: 7px;
    padding: 10px;
}

.results {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-block: 40px;
    margin-inline: 50px;
    border: none;
    padding: 7px 12px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: var(--clr-primary-900);
    font-weight: bold;
    width: 50px;
    border-radius: 3px;
}