.main_section, .main_section[open] {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1000;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px clamp(20px, 2vw, 50px);
}

.main_section:focus, .main_section[open]:focus {
    outline: none;
}

.main_section[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.main_section h1 {
    text-align: center;
    color: var(--clr-primary-900);
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: clamp(26px, 5vw, 30px);
}

.inputContainer {
    display: block;
    background-color: #F1FAFF;;
    padding: 25px;
    border-radius: 3px;
    font-size: clamp(15px, 3vw, 17px);
}

.inputContainer input[type="text"] {
    display: block;
    width: 100%;
    font-size: clamp(16px, 3vw, 18px);
    margin: 5px 0;
    margin-top: 7px;
    padding: 10px;
    text-overflow: ellipsis;
}

.results {
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
}

.closeBtn {
    position: absolute;
    top: clamp(10px, 9vw, 40px);
    right: clamp(20px, 5vw, 30px);
    border: none;
    padding: 7px 12px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    color: var(--clr-primary-900);
    font-weight: bold;
    width: 50px;
    border-radius: 3px;
}

.closeBtn:hover, .closeBtn:active {
    background-color: hsl(from var(--clr-primary-900) h s l / 0.1);
}

@media (max-width: 500px) {
    .results {
        grid-template-columns: auto;
    }
}