.container {
    width: 100%;
    height: max-content;
    padding: 20px;
    background-color: var(--theme-color-main);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr auto);
}

.section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section h1 {
    font-size: clamp(20px, 3vw, 25px);
}

.section h3 {
    font-size: clamp(14px, 3vw, 17px);
}

.vr {
    width: 0;
    height: 90px;
    border: 1px solid hsl(0, 0%, 90%);
    margin: 0px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.svg {
    padding: 10px;
    width: 70px;
    border-radius: 25%;
    margin: 5px;
    background-color: white;
}

@media (max-width: 1150px) {
    .container {
        grid-template-columns: 1fr;
    }

    .section {
        gap: 5px;
    }
    
    .vr {
        /* display: none; */
        height: 0;
        width: calc(100% - 15px);
        margin: 15px auto;
    }
}