.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 40px; */
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 25%);
    /* border-bottom: 3px solid black; */
    margin: 0;
    font-size: 17px;
    background-color: hsl(0, 0%, 97%);
}

.website_name {
    background-color: var(--blue-900);
    width: 40%;
    flex-grow: 1;
    /* margin-right: 20px; */
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    color: white;
    border-radius: 0 100px 100px 0;
}

.navbar {
    margin: 0 30px;
    padding: 20px;
}

.navbar_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.navbar li {
    min-width: 60px;
    /* text-align: center; */
    /* border: 1px solid black; */
}

.navbar_list li a {
    text-decoration: none;
    color: hsl(0, 0%, 30%);
    font-family: Arial, Helvetica, sans-serif;
}