.doctorCard {
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    padding: 20px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: start;
}

.doctorCard img {
    width: 120px;
    margin-right: 50px;
}

.details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.specialityHeading {
    font-size: 16px;
    margin-top: 20px;
}

.specialities {
    list-style: none;
    margin: 0;
    font-size: 15px;
    margin-block: 5px;
    color: gray;
}

.rating {
    color: gray;
    font-size: 16px;
}

.rating .ratingStars {
    color: #F0AD4E;
}

.rating span {
    color: hsl(210, 40%, 50%);
}