.loginPage, .loginPage[open] {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 430px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border: none;
}

.loginPage {
    display: none;
    opacity: 0;
    animation: vanish 800ms;
}

.loginPage[open] {
    display: block;
    opacity: 1;
    animation: appear 800ms;
}

.loginPage[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes appear {
    from {
        display: none;
        opacity: 0;
        transform: translateY(-100vh);
    }

    to {
        display: block;
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
        transform: translateY(50vh);
    }
}

.banner {
    background-color: var(--blue-900);
    width: 100%;
    height: 130px;
    border-radius: 0 0 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px hsla(0, 0%, 60%, 0.5);
}

.banner h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.loginForm {
    /* border: 1px solid black; */
    width: 100%;
    padding: 20px 40px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.loginForm input, .loginForm label {
    display: block;
}

.loginForm label {
    font-size: 17px;
    margin: 10px auto;
}

.loginForm input {
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    padding: 8px 10px;
    margin-bottom: 20px;
}

.formBtns {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: 50px;
    gap: 20px;
    place-items: center;
}