.footer {
    background-color: var(--theme-color-main);
    height: 120px;
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}