.container {
    width: 100%;
    /* height: 170px; */
    height: max-content;
    padding: 20px;
    background-color: var(--blue-900);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr auto);
}

.section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section h1 {
    font-size: 25px;
}

.section h3 {
    font-size: 17px;
}

.vr {
    width: 0;
    height: 90px;
    border: 1px solid hsl(0, 0%, 90%);
    margin: 0px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.svg {
    padding: 10px;
    width: 70px;
    border-radius: 25%;
    margin: 5px;
    background-color: white;
}